<h1>EnvoiMessages</h1>

<form action="SendMessage" method="post">

  autor: <input type = "text" name ="autor">
  message: <input type = "text" name ="message">

<input type = "submit" value="Submit">

</form>
<p><a href="../">Accueil</a></p>
